{% load static %}
{% load zoekfilters %}

<div class="activities">
    <div class="activities__header">
        kluisjes: {{ kluizen.count }}
    </div>
    {% for message in kluizen %}
    <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">

        </div>
        <div class="activities__boxContent">
            <div class="activities__boxRoomContent">{{ message.name|highlight:q }}: {{message.kast}}
 </div>
        </div>
    </div>
    {% endfor %}

</div>