{% load static %}
{% load zoekfilters %}

<div class="activities">
    <div class="activities__header">
        verhuurd:
    </div>
    {% if gevonden %}

    {% if request.user.is_authenticated %}

    {% for m in gevonden %}
    <div class="activities__box">
            <a href="{% url 'kluis' m.id %}">{{m.kluisnummer}}</a>   {{ m.naamvoluit|highlight:q }}
            {% for kl in m.huurders.all %} 
            <li>{{kl}}</li>
            {% endfor %}

        </div>
    {% endfor %}
    {% endif %}
    {% endif %}

</div>