<html>
  <head></head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <title>Bloklist</title>
    
    <h3>Indelings blok ({{regels.count}} {{bloknummer}}) </h3>
    <li><a href="/" class="btn btn-primary btn-sm">Hoofdmenu</a></li>
    <div class="form__group">
        <label for="huurder">Naam</label
            name="huurder"> 
      </div>

      <form method="POST" action="">
        {% csrf_token %}
        <p>Are you sure redefine the matrix? "{{object}}"?</p>
        <a href="{{request.META.HTTP_REFERER}}"> BACK </a>
        <input type="submit" value="Confirm" />
    </form>
    {% if user.is_superuser %}
    
    {% else %}
    <li><a href="{% url 'blokken' 1 %}" class="btn btn-primary btn-sm">Blokken herindelen heren</a></li>
    <li><a href="{% url 'blokken' 2 %}" class="btn btn-primary btn-sm">Blokken herindelen dames</a></li>
    {% endif %}
    <li><a href="/get_matrix" class="btn btn-primary btn-sm">Matrix opvragen</a></li>
    <tbody>  

    tabel heren (9x9)
<hr>

      <table class="viking-table">
        <thead>
            <tr>
                {% for k in kopmtrx %}
                <th>{{k}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for rij in heren %}
                <tr>
                    <td>Rij {{forloop.counter}} {{rij.naam}}</td><td> <a href="{% url 'update_kluis'  rij.id  forloop.counter%}">  {{rij.kol1}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 1 %}"> {{rij.kol1}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                </tr>
            {% endfor %}
        </tbody>
    </table>
    tabel dames (9x9)
<hr>

      <table class="viking-table">
        <thead>
            <tr>
                {% for k in kopmtrx %}
                <th>{{k}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for rij in dames %}
                <tr>
                    <td>Rij {{forloop.counter}} {{rij.naam}}</td><td> <a href="{% url 'update_kluis'  rij.id  forloop.counter%}">  {{rij.kol1}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                        <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
  </body>
</html>
