<html>
  <head></head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <title>Bloklist</title>    
    <tbody>  
        <hr>
        {% if heren %}

              <table class="viking-table">
                <thead>
                    <caption>heren kastenblok 3x  4x6 </caption>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rij in heren %}
                        <tr>
                            <td> <a href="{% url 'update_kluis' rij.id 1 %}"> {{rij.kol1}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                    <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if adames %}

              <table class="viking-table">
                <thead>
                    <caption>kastenblok 4x6 midden</caption>

                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rij in adames %}
                        <tr>
                            <td> {{rij.naam|slice:"0:1"}}{{rij.y_as}}</td><td> <a href="{% url 'update_kluis'  rij.id 1 %}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                    <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if bdames %}

            <table class="viking-table">
                <thead>
                    <caption>los kastenblok 4x6</caption>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rij in bdames %}
                        <tr>
                            <td> {{rij.naam|slice:"0:1"}}{{rij.y_as}}</td><td> <a href="{% url 'update_kluis'  rij.id 1 %}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                    {% comment %}
                                    er zijn hier slechts vier kolommen beschikbaar
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                    <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                        {% endcomment %}
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if cdames %}

            <table class="viking-table">
                <thead>
                    <caption>kastenblok 4x6 linkerzijde</caption>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rij in cdames %}
                        <tr>
                            <td> {{rij.naam|slice:"0:1"}}{{rij.y_as}}</td><td> <a href="{% url 'update_kluis'  rij.id 1 %}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                    <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if ddames %}

            <table class="viking-table">
                <thead>
                    <caption>kastenblok 4x6 nog bepalen</caption>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                    er zijn in blok D acht kolommen beschikbaar
                </thead>
                <tbody>
                    {% for rij in ddames %}
                        <tr>
                            <td> {{rij.naam|slice:"0:1"}}{{rij.y_as}}</td><td> <a href="{% url 'update_kluis'  rij.id 1 %}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                    {% comment %}

                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                    <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                                    {% endcomment %}
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
<hr>
    {% endblock %}
  </body>
</html>
