<html>
  <head></head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <title>Bloklist</title>    
    <tbody>  
        <hr>
        
              <table class="viking-table">
                <thead>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                   {% comment %} <td> <a href="{% url 'update_kluis' rij.id 1 %}"> {{rij.kol1}}   </td> {% endcomment %}
                    {% for rij in heren %}
                        <tr>
                            <td>Rij {{rij.y_as}} {{rij.naam}}</td><td> <a href="{% url 'update_kluis'  rij.id  forloop.counter%}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                    <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <hr>        
              <table class="viking-table">
                <thead>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rij in adames %}
                        <tr>
                            <td>Rij {{forloop.counter}} {{rij.naam}}</td><td> <a href="{% url 'update_kluis'  rij.id  forloop.counter%}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <table class="viking-table">
                <thead>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rij in bdames %}
                        <tr>
                            <td>Rij {{forloop.counter}} {{rij.naam}}</td><td> <a href="{% url 'update_kluis'  rij.id  forloop.counter%}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <table class="viking-table">
                <thead>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rij in cdames %}
                        <tr>
                            <td>Rij {{forloop.counter}} {{rij.naam}}</td><td> <a href="{% url 'update_kluis'  rij.id  forloop.counter%}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <table class="viking-table">
                <thead>
                    <tr>
                        {% for k in kopmtrx %}
                        <th>{{k}}</th>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rij in ddames %}
                        <tr>
                            <td>Rij {{forloop.counter}} {{rij.naam}}</td><td> <a href="{% url 'update_kluis'  rij.id  forloop.counter%}">  {{rij.kol1}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 2 %}"> {{rij.kol2}}   </td> 
                                <td> <a href="{% url 'update_kluis' rij.id 3 %}"> {{rij.kol3}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 4 %}"> {{rij.kol4}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 5 %}"> {{rij.kol5}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 6 %}"> {{rij.kol6}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 7 %}"> {{rij.kol7}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 8 %}"> {{rij.kol8}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 9 %}"> {{rij.kol9}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 10 %}"> {{rij.kol10}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 11 %}"> {{rij.kol11}}   </td>
                                <td> <a href="{% url 'update_kluis' rij.id 12 %}"> {{rij.kol12}}   </td>
                                    </tr>
                    {% endfor %}
                </tbody>
            </table>
<hr>
    {% endblock %}
  </body>
</html>
