{% extends 'base.html' %} 
{% comment %} 31 okt 2022 {% endcomment %}
{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>Terug</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          <h3>KluisNummer: {{kluis.name}} ({{key}}) </h3>
          {% if request.user.is_authenticated %}
          {% endif %}
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST">
          {% csrf_token %} 
  {% comment %}
          <div class="form__group">
            <label for="room_slot">Naam</label
                name="vikinglid_name">
            {{form.name}}
          </div>
          {% endcomment %}

          <div class="form__group">
            <label for="kluisje_name">Kluisje Huurder</label name="huurder">
              <select id="lid" name="huurder" {{form.name}} onChange="redirectUrl()">
                <option  value="" selected="selected">--- KLUIS HUURDER---</option>
                {% for lid in vikingers %}
                 <option value="{{lid.name}}">{{lid.name}} {{lid.id}} </option>
                {% endfor %}
              </select>
          </div>

{% comment %}            
          <div class="form__group">
            <label for="room_topic">e-mail</label
                name="email">
            {{form.email}}
          </div>
          <div class="form__group">
            <label for="kluisje_name">Kluisje huren</label name="heeftkluis">
              <select id="org" name="heeftkluis" onChange="redirectUrl()">
                <option  value="" selected="selected">--- KLUISJE TOEVOEGEN---</option>
                {% for org in kluizen %}
                <option value="{{org.id}}">{{org.name|capfirst}}</option>
                {% endfor %}
              </select>
            </div>
            {% endcomment %}
          {% comment %}
          <div class="form__group">
            <label for="team_name">Huur opheffen</label name="is_lid_van">
              <select id="org" name="is_lid_van" onChange="redirectUrl()">
                <option  value="" selected="selected">--- KLUISJE OPHEFFEN---</option>
                {% for org in teams %} 
                {% for org in kluizen %}
                <option value="{{org.id}}">{{org.name|capfirst}} </option>
                {% endfor %}
              </select>
              {% endcomment %}
  
          </div>

          <div class="form__action">
            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}"
              >Cancel</a>
            <button class="btn btn--main" type="submit">Submit</button>
            {% comment %}
            {% endif %}
            {% endcomment %}

                    </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
