{% load static %}
{% for kluis in kluisjes %}
<div class="roomListRoom">
    <div class="roomListRoom__content">
        <a href="{% url 'kluis' kluis.id %}"> {{kluis.location}} {{kluis.slot}}
            <!-- {{kluis.owners.all}} -->
            {% for t in kluis.owners.all %} {{t.last_name}} |{% endfor %}
        </a>
    </div>
</div>
{% endfor %}    
=====>
totaal 120 <hr>
heren 8x6 48
<img src="{% static '/images/heren1.JPG' %}" alt="Heren"> <br>          
dames1 6x4 24
<img src="{% static '/images/dames1.JPG' %}" alt="Heren"> <br>          
dames2 8x6 48
<img src="{% static '/images/dames2.JPG' %}" alt="Dames"> <br>          
