{% extends 'base.html' %} {% block content %}
{% csrf_token %} 

  </head>
  <li><a href="/" class="btn btn-warning btn-sm">Home</a></li>

  <body>
  
  

   <title>{% block title %} Rooster{% endblock %}</title>
    <table class="table">

        <div class="activiteiten">
          <div id="myDIV">
            <h5>Rooster in opbouw( {{rooster.count}} )</h5> 
            {% comment %} <h1>PLOEGLEDEN</h5> {% endcomment %}
            </div>

      <thead>
        <tr>
          <!-- <th >#</th> -->
          <th >Datum</th>
          <th >Dag</th>
          <th >Taak</th>
          <th >Tijdstip</th>
          <!-- <th >lnr</th> -->
          <!-- <th >rnr</th> -->
        </tr>
      </thead>
      <tbody>
      {% for p in rooster %}
      <tr>
        <!-- <td > {{p.id}}</td> -->
        <td >{{p.datum}}</td>
        <td >{{p.name}}</td>
        <td >{{p.description}}</td>
        <td >{{p.pub_time}}</td>
        <!-- <td >{{p.lnr}}</td> -->
        <!-- <td >{{p.rnr}}</td> -->
        <td>{% for t in p.lid.all %}{{ t.username }}<br>{% endfor %}</td>
      {% endfor %}   
      </tr>
    </table>
  </div>
</div>

{% endblock %}