{% extends 'base.html' %} 
{% comment %} 31 okt 2022 {% endcomment %}
{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>Terug</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          {% if request.user.is_authenticated %}
          <h3>Locatie:  oorspronkelijkmatriksnummer({{oorspronkelijkmatriksnummer}}) {{kluis.id}} </h3>
          {% endif %}
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST">
          {% csrf_token %} 
  
          <div class="form__group">
            <label for="huurder">Naam:
              {% for org in huurders %}
              {{org.id}}{{org.name|capfirst}}
              e-mail: {{org.email}}
             {% endfor %}
                  </label
              
                name="huurder"> 
          </div>
          {% for org in huurders %}
          {{org.id}}{{org.name|capfirst}}
          e-mail: {{org.email}}
         {% endfor %}
{% comment %}
          <div class="form__group">
            <label for="room_topic">e-mail: {{kluis.email}}</label
                name="email">
          </div>
          {% endcomment %}
          <div class="form__group">
            <label for="room_topic">Kast benaming: {{kluis.topic}}</label
                name="email">
          </div>
          <div class="form__group">
            <label for="room_topic">Locatie: {{kluis.row}} kolom {{kluis.col}}</label
                name="email">
          </div>
          <div class="form__group">
            <label for="room_topic">verhuurd: {{kluis.verhuurd}}</label
                name="email">
          </div>
          <div class="form__group">
            {% comment %}
            <label for="team_name">Huur opheffen</label name="huurder">
              {% endcomment %}
              <select id="huuropheffen" name="huuropheffen" onChange="redirectUrl()">
                <option  value="" selected="selected">--- KLUISJE OPHEFFEN---</option>
                {% for org in huurders %}
                 <option value="{{org.id}}">{{org.name|capfirst}}</option>
                {% endfor %}
              </select>
  
          </div>

          <div class="form__group">
            <label for="kluisje_name">Kluisje toewijzen</label name="heeftkluis">
              <select id="heeftkluis" name="heeftkluis" onChange="redirectUrl()">
                <option  value="" selected="selected">--- KLUISJE TOEWIJZEN AAN:---</option>
                {% for org in vikingers %}
                <option value="{{org.id}}">{{org.name|capfirst}}</option>
                {% endfor %}
              </select>
            </div>
            {% comment %}
            <input type="checkbox" id="opheffen" name="opheffen" value="opheffen">
<label for="opheffen"> Huur opheffen</label><br>
            <div class="form__group">

            <label for="your_name">Kastnummer: </label>
            <input id="your_name" type="text" name="your_name" value="{{kluisje}} {{ kluis.kastje }} {{kluis.kastje}}">
            </div>        
            {% endcomment %}
            <div class="form__action">
            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}"
              >Cancel</a>
            <button class="btn btn--main" type="submit">Submit</button>

                    </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
