{% load static %}
<div class="roomListRoom">

{% for lid in vikingleden %}
<div class="roomListRoom__header">
    <div class="roomListRoom__actions">
        <div class="roomListRoom__content">

            <a href="{% url 'activiteit' lid.id %}">{{ forloop.counter }} {{lid}}
                {% for t in lid.is_lid_van.all %} 
                {% if t.type == "kluis"  %}
                <br>-- kluisje {{t}} <br>
                {% endif %}
                {% if t.type == "ploeg"  %}
                -- ploeg {{t}} <br>
                {% endif %}
                {% endfor %} 
            </a>
        </div>
    </div>
</div>
{% endfor %}    
</div>

=====>
max 120 <hr>
heren 8x6 48
<!-- <img src="{% static '/images/heren1.JPG' %}" alt="Heren"> <br>          
dames1 6x4 24
<img src="{% static '/images/dames1.JPG' %}" alt="Heren"> <br>          
dames2 8x6 48
<img src="{% static '/images/dames2.JPG' %}" alt="Dames"> <br>           -->
