{% extends 'base.html' %}
{% block content %}
<main class="layout layout--3">
  {% comment %} 5 feb 2023 {% endcomment %}
  <div class="container">
    
    <form action="{% url 'activiteit' vikinglid.id %}" method="post">
      {% csrf_token %}
      <div class="phone">
        <div class="phone-mirror">
        <li><a href="/" class="btn btn-warning btn-sm">Home2</a></li>
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>Terug</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          <a class="btn btn--link" href="{% url 'update-kluis' vikinglid.id %}">
            Kluisbeheer
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>chevron-down</title>
              <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
            </svg>
          </a>
        
          <h3>
            VIKINGLID --{{vikinglid.id}} {{vikinglid.name}}
          </h3>
        </div>

        <table class="viking-table">
          <thead>
            <hr>
            <tr>
              <th>Lid Van:</th>
              <th><input type="submit" value="Meld Af "> </th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for aa in islidvan %}
            <tr>

            <td>{{aa }}</td>
            <td>{{aa.id}}. {{aa.activiteit}}</td>
            <td>
              <input type="checkbox" name="afmelding" id="host{{ forloop.counter }}" value="{{ aa.id }}">
            </td>
            <td> </td>
            <!-- <td>
              <input type="checkbox" name="hoofdhost" id="host{{ forloop.counter }}" value="{{ aa.id }}">
            </td> -->
            </td>

            {% endfor %}
            </tr>
          </tbody>
        </table>
        <table class='viking-table'>
          <thead>
            <hr>
            <tr>
              <th> <input id="search-input" name="zoeknaam" class="form-control" type="text" placeholder='@vind kandidaat'></th>
              <th><input type="submit" value="Meld Aan"> </th>
              <th>Vind Activiteit uit ( {{users.count}}) voor {{event.name}}</th>
          </thead>
          </tr>

          <tbody id=myTable>
            <td>{% for t in kandidaten %}
            </td>
            <tr>
              
              <td>{{t.id}}.{{t.name}}</td><td> {{t.type}} </td>

              <td>  </td>
              <td> <input type="checkbox" name="aanmelding" id="host{{ forloop.counter }}" value="{{ t.id }}"> </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        </div>
        </div>
        </div>
</form>
</div>
</div>
</div>
</main>

{% endblock %}