{% load static %}
<div class="roomListRoom">
    <h1>{{q}} </h1>
    {% for lid in vikingleden %}
<div class="roomListRoom__header">
    <div class="roomListRoom__actions">
        <ul>
        <div class="roomListRoom__content">
            <fieldset>
            <legend>
                {% if q == "Kluisjes-bezet" %}
                <a href="{% url 'activiteit' lid.id %}">{{ forloop.counter }} 
                    {{lid}}
                </a>
            </legend>
            {% endif %}
                {% for t in lid.is_lid_van.all %} 
                {% if t.type == "kluis"  %}
                <li>kluisje {{t}}</li>
                  
                {% endif %}
                {% if t.type == "ploeg"  %}
                <li>ploeg {{t}}</li>  
                {% endif %}
                {% endfor %} 
        </fieldset>
        </div>
    </ul>
    </div>
</div>
{% endfor %}    
</div>

=====>
max 120 <hr>
heren 8x6 48
<!-- <img src="{% static '/images/heren1.JPG' %}" alt="Heren"> <br>          
dames1 6x4 24
<img src="{% static '/images/dames1.JPG' %}" alt="Heren"> <br>          
dames2 8x6 48
<img src="{% static '/images/dames2.JPG' %}" alt="Dames"> <br>           -->
