{% load static %}
<div class="roomListRoom">
    <h5>|{{q}}| {{legen}} </h5>
    <!--  --> 
</table>
<table class="viking-table">
  <thead>
    <tr>
        {% for h in koplegen %}
        <th>{{h}}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
  <tbody>
    {% for kluis in empty %}
        <tr>
          <td> <a href="{% url 'kluisje' kluis.id %}">  {{kluis}}   </a>  </td>
        </tr>
    {% endfor %}
</tbody>
</table>

    </div>
    
    <!--  -->
     <!--  -->
     {% if q == "Opheffen" %}
     {% for kluis in billable %}
     <div class="roomListRoom__header">
         <div class="roomListRoom__actions">
             {% if q == "Opheffen" %}
     
             <ul>
             <div class="roomListRoom__content">
                 <fieldset>
                 <legend>
                     <a href="{% url 'kluisje' kluis.id %}">
                         {{ forloop.counter }} 
                         {{kluis}}
                     </a>
                 </legend>
             
             </fieldset>
             </div>
         </ul>
         {% endif %}
      
         </div>
     </div>
     {% endfor %}    
     </div>
     
     {% endif %}
     <!--  -->
    {% for lid in vikingleden %}
<div class="roomListRoom__header">
    <div class="roomListRoom__actions">
    </table>
    <table class="viking-table">
      <thead>
        <tr>
            {% for h in koplegen %}
            <th>{{h}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
      <tbody>
        {% for kluis in vikingledennnn %}
            <tr>
              <td> <a href="{% url 'kluisje' kluis.id %}">  {{kluis}}   </a>  </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    
        {% if q == 'Met Kluiss' or q != "Kluisjes-leegg" and q != 'Wachtlijstt' %}

        <ul>
        <div class="roomListRoom__content">
            <fieldset>
            <legend>
                {% comment %}
                {% if user.is_superuser %}
                <a href="{% url 'activiteit' lid.id %}">
                    {% else %}
                    {% endif %}
                    {% endcomment %}
                    <a href="{% url 'update-kluis' lid.id %}">
                        {{ forloop.counter }} 
                    {{lid}}
                </a>
            </legend>
                {% for kluis in lid.is_lid_van.all %} 
                {% if kluis.type == "kluis"  %}
                <li>{{kluis}}</li>
                  
                {% endif %}
                {% if kluis.type == "ploeg"  %}
                <li>ploeg {{kluis}}</li>  
                {% endif %}
                {% endfor %} 
        
        </fieldset>
        <!--  -->
        <!--  -->
        </div>
    </ul>
    {% endif %}
 
    {% if q == 'Wachtlijst' %}

    <ul>
    <div class="roomListRoom__content">
        <fieldset>
        <legend>
            {% comment %}
            {% if user.is_superuser %}
            {% else %}
            {% endif %}
            <a href="{% url 'activiteit' lid.id %}">
                {% endcomment %}
                <a href="{% url 'update-kluis' lid.id %}">
                    {{ forloop.counter }} 
                {{lid}} 
            </a>
        </legend>
    
    </fieldset>
    </div>
</ul>
{% endif %}

    </div>
</div>
{% endfor %}    
</div>

=====>
max 120 <hr>
heren 8x6 48
