{% extends 'main.html' %}
{% block content %}
    {% csrf_token %}
    {%load static%}
    <a class="btn btn--main btn--pill" href="{% url 'lockers' %}">Home</a>

    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form__group">
            <a href="{% url 'home' %}" class="header__logo">
                <img src="{% static 'images/dames1.JPG' %}" />
                <img src="{% static 'images/dames2.JPG' %}" />
                <img src="{% static 'images/dames3.JPG' %}" />
            </a>
    
        </div>
<!--  -->

<!--  -->
          
   <table class="viking-table">
       <thead>
           <caption>  {{entrants_in.count}} LOCKERS IN </caption>
           <tr>
               <th>#</th>
               {% for k in kolssss %}
               
               <th>{{k}}</th>
               {% endfor %}
            </tr>
        </thead>
        <tbody>
            
            {% for rij in entrants_innnn %}
            <td> {{rij.id}}</td>
            <td> <a href="{% url 'update-locker' rij.id  %}">  {{rij.lockerlabel}} </td> 
                <td> <a href="{% url 'update-locker' rij.id %}">   {{rij.email|slice:"0:12"}}...   </td> 
                    <td>{{rij.label}}</td>
                    <td> <a href="{% url 'update-locker' rij.id %}">   </td>
                                       {%comment%} {%if rij.verhuurd%}  <td><input type="checkbox" id="isout" checked="true" name="isout" value={{rij.id}}></td> {%endif%} {%endcomment%}
                                        <td> {{ rij.tekst|wordwrap:20 }} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <table class="viking-table">
                                <thead>
                                    <caption>  {{entrants_out.count}} LOCKERS OUT </caption>
                                    <tr>
                                        <th>#</th>
                                        {% for k in kols %}
                                        
                                        <th>{{k}}</th>
                                        {% endfor %}
                                     </tr>
                                 </thead>
                                 <tbody>
                                     
                                     {% for rij in entrants_out %}
                                     <td> {{rij.id}}</td>
                                     <td> <a href="{% url 'update-locker' rij.id  %}">  {{rij.lockerlabel}} </td> 
                                         <td> <a href="{% url 'update-locker' rij.id %}">   {{rij.email|slice:"0:12"}}...   </td> 
                                            <td>{{rij.label}}</td>
                                                            {%comment%} <td> <a href="{% url 'update-locker' rij.id %}">   </td> <td><input type="checkbox" id="isin" name="isin" value={{rij.id}}></td> {%endcomment%}
                                                                <td> {{ rij.tekst|wordwrap:20}} </td>
                                                                <td>{{rij.code}}</td>

                                                                 </tr>
                                                             {% endfor %}
                                                         </tbody>
                                                     </table>
                         
                        </form>
                            <a class="btn btn--main btn--pill" href="{% url 'lockers' %}">Home</a>
                        

    {% endblock %}