
<table class="viking-table">
    <thead>
      <hr>
      <tr>
        <th>Excel User:</th>
        <th>Kluisnummer</th>
        <th>User_id</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in object_list %}
      <tr>
            <td>
              {% if request.user.is_superuser %}
              <a href="{% url 'create-locker' %}?q={{user.kluisnummer}}">{{user.email|truncatechars:12}} </span></a>        
            {% endif %}
        
            </td>
                    <td>
                      {{user.kluisnummer}}
                        </td> 
                        <td>{{user.excel}} </td>                
          
      {% endfor %}
      {% comment %}
      <a href="{% url 'export_search_csv' %}" class="btn btn--link">=>Excel-regel</a>
      {% endcomment %}
</tr>
    </tbody>
  </table>
