<ul>
    {% for msg in berichten %}
                    <a href="{% url 'requests' %}?q={{msg.id}}">  
            </span></a>
            <div style="height:100%;width:100%">
            </div>
        </a>

    <a href="{% url 'requests' %}?q={{msg.id}}"><li>{{msg.body}}</li><span>
        <div style="height:100%;width:100%">
        </div>
    </a>
    <a href="{% url 'requests' %}?q={{msg.id}}"><li>{{msg.user}}</li></a>
    {% endfor %}
</ul>


{% comment %}
<table class="table-bordered">
    <thead>
        <hr>
        <tr>
            <th>Bericht</th>
            <th></th>
                    </tr>
    </thead>
    <tbody>
        {% for msg in berichten %}
        <tr>
        </td>
        <td>2
            <a href="{% url 'requests' %}?q={{msg.id}}">  
            </span></a>
            <div style="height:100%;width:100%">
            </div>
        </a>
    </td>        
    {% endfor %}
</tr>
</tbody>
</table>
{% endcomment %}
  

  