Lockerlist {{object_list.count}}
<table class="viking-table">
    <thead>
      <hr>
      <tr>
        <th>Lockers:</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Onderhuur</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for locker in object_list %}
      <tr>

      <td>
        <a href="{% url 'update-locker' locker.id %}?q={{locker.id}}">{{locker.kluisnummer}} </span></a>
        <div style="height:100%;width:100%">
          </div>
        </a>
      </td>
            <td>
                {{locker.lockername}}
                 </td>
                 <td>
                    <td>
                        {% if locker.kluisnummer == '----' %}
                          ------
                          {% else %}
                          {{locker.excel}}
                        {% endif %}
                      </td> 
                    <td>
                      {% for own in locker.owners.all %}
                      {{own.email|slice:"9"}}... <br>
                      {% endfor %}
                      {% if locker.owner%}
                      {% endif %}
                    </td> </td>

          
      {% endfor %}
      </tr>
    </tbody>
  </table>
