{% block content %}
{% endblock content %}

<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
           <a href="{% url 'home' %}">
                      <svg
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                      >
                        <title>Terug</title>
                        <path
                          d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
                        ></path>
                      </svg>
                    </a>
          <h3>Vikinglockers: </h3>
        </div>
      </div>
      <div class="pill-nav">
        <form class="form" action="" method="POST">
          {% csrf_token %} 
          <a class="active" href="{% url 'lockers' %}">Lockers</a><br>
          <a class="active" href="{% url 'wacht-lijst' %}">Wachtlijst</a><br>
          <a class = "active" href="{% url 'excellijst' %}">Excel Lijst</a><br>
          <a href="{% url 'facturatielijst' %}">facturatie Lijst</a><br>
          <a  href="{% url 'all_lockers' %}">All Lockers</a><br>
          <a class="active" href="{% url 'logout' %}">Logout</a><br>
          <a href="{% url 'tools' %}">Tools</a><br>
            
          {%comment%} 
          <!--  -->
              {% if toernooi.pairing %}
              <a href="{% url 'berichten' %}">Pairing</a>
              {%else%}
              {%endif%}
              {% if todo > 0 %}
              <a class="active" href="{% url 'get_indeling' %}">[{{todo}}] results to go</a>
              {%else%}
              <a href="{% url 'init' %}">Initialise</a>
              <a href="{% url 'reset_initflag' %}">Iniflag</a>
              <a class="active" href="#">[{{todo}}] results to go</a>
              <a href="{% url 'uploads' %}">Uploads</a>
                  </div>
            <!--  -->
          {%endcomment%}

        </form>
      </div>
    </div>
  </div>
</main>
