
<table class="viking-table">
    <thead>
      <hr>
      <tr>
        <th>Huurder:</th>
        <th>y/n</th>
        <th>Verhuurd</th>
        <th>keys</th>
        <th>renum</th>
        <th>obs</th>
      </tr>
    </thead>
    <tbody>
      {% if request.user.is_superuser %}
      <a href="{% url 'export_verhuurd' %}" class="btn btn--link">=>Export List</a><br>
      <a href="{% url 'export_emaillijst' %}" class="btn btn--link">=>Export E-mail</a>
      <hr>
    {% endif %}

      {% for locker in object_list %}
      <tr>

      <td>
        <a href="{% url 'edit-factuur'  locker.id %}?q={{locker.id}}">{{locker.email|truncatechars:12}} </span></a>        
      </td>
      <td>{{locker.code}} </td>
        <td>
          <a href="{% url 'update-usermail'  locker.kluisnummer %}?q={{locker.id}}">{{locker.kluisnummer}} </span></a>
        </td>
        </a>
      
                        <td>
                          <a href="{% url 'create-locker' %}?q={{locker.kluisnummer}}">{{locker.type}} </span></a>        
                        </td>

                        <td>
                          <a href="{% url 'update-user2'  locker.in_excel %}?q={{locker.in_excel}}">{{locker.renum}} </span></a>
                          <td>
                            {% if locker.obsolete %} (obs) {% endif %}
                          </td>

                        </td>
          
      {% endfor %}
      </tr>
    </tbody>
  </table>
