
<table class="viking-table">
    <thead>
      <hr>
      <tr>
        <th>User:</th>
        <th>Locker</th>
        <th>regis</th>
      </tr>
    </thead>
    <tbody>
      {% for locker in object_list %}
      <tr>

      <td>
        {% comment %}
        {{locker.email}}
        <th>xx</th>
        {% endcomment %}

        <a href="{% url 'update-user2' locker.id %}?q={{locker.id}}">{{locker.email}} </span></a>
        <div style="height:100%;width:100%">
          </div>
        </a>
      </td>
            <td>
                {{locker.username}}
                 </td>
                    <td>{{locker.locker}}</td>
          
      {% endfor %}
      </tr>
    </tbody>
  </table>
