{% comment %}
{% endcomment %}

<table class="viking-table">
    <thead>
      <hr>
      <tr>
          <th>1Contact</th>
        <th>2Huurder</th>
        <th>3</th>
      </tr>
    </thead>
    <tbody>
    {% for user in object_list %}
    <tr>

    <td>1{{user.name}}</td>
    <td>2
      <a href="{% url 'update-person' user.id %}?q={{user.id}}">  <li> {{user.email|truncatechars:13}} </li>
      </span></a>
      <div style="height:100%;width:100%">
        </div>
      </a>
    </td>
                    <td>3
                      {% if user.hoofdhuurder == True %}
                        huur            
                        {% elif user.wachtlijst == True %}
                        wl
                        
                      {% elif user.onderhuur == True %}
                        gebr
                      {% endif %}
                    </td> 


        
    {% endfor %}
    </tr>
    </tbody>
  </table>

  {% comment %}

  <ul>
  {% for user in object_list %}
  <li>
    <a href="{% url 'update-person' user.id %}?q={{user.id}}">{{ user.name }} </span></a> <br>

  </li> 
  
      {% empty %}
      <li>No users yet.</li>
  {% endfor %}
  </ul>
  {% endcomment %}
  