Lockerlist {{object_list.count}}
<table class="viking-table">
  <thead>
    <hr>
    <tr>
      <th>Huurder:</th>
      <th>Locker</th>
      <th>Sleutels</th>
      <th>Verhuurd</th>
      <th>Onderh</th>
    </tr>
  </thead>
  <tbody>
    {% for locker in object_list %}
    <tr>

    <td>
      <a href="{% url 'update-locker' locker.id %}?q={{locker.id}}">{{locker.email|truncatechars:10}}... </span></a>
      <div style="height:100%;width:100%">
        </div>
      </a>
    </td>
          <td>
              {{locker.kluisnummer}}
               </td>
               <td>{{locker.sleutels}}</td>
                  <td>{{locker.verhuurd}}</td>
                  {% if locker.owners.count > 0 %}
                  <td>{{locker.owners.count}}</td>
                     {% else %}
                 <td>----</td>
        {% endif%}
    {% endfor %}
    </tr>
  </tbody>
</table>
{% comment %}
<table class="viking-table">
    <thead>
      <hr>
      <tr>
        <th>Lockers:</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Onderhuur</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for locker in object_list %}
      <tr>

      <td>
        <a href="{% url 'update-locker' locker.id %}?q={{locker.id}}">{{locker.topic}} {{locker.kluisnummer}}{% if locker.obsolete == true %}opheffen{%endif %} </span></a>
        <div style="height:100%;width:100%">
          </div>
        </a>
      </td>
            <td>
                {{locker.lockername}}
                 </td>
                 <td>
                    <td>
                        {% if locker.kluisnummer == '----' %}
                          ------
                          {% else %}

                          {{locker.email|slice:"0:8"}}
                        {% endif %}
                      </td> 
                    <td>
                      {% for own in locker.owners.all %}
                      {{own.email|slice:"9"}}... <br>
                      {% endfor %}
                      {% if locker.owner%}
                      {% endif %}
                    </td> </td>

          
      {% endfor %}
      </tr>
    </tbody>
  </table>
  {% endcomment %}
