
<table class="viking-table">
    <thead>
      <hr>
      <tr>
        <th>Excel User:</th>
        <th>Kluisnummer</th>
        <th>User_id</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in object_list %}
      <tr>
            <td>
              {{user.email|truncatechars:10}}
            </td>
                    <td>
                        {% if user.excel == '--' %}
                          ------
                          {% else %}
                          <a href="{% url 'update-usermail'  user.excel  %}?q={{user.excel}}">{{user.kluisnummer}} </span></a>
                          {% endif %}
                        </td> 
                        <td>{{user.excel}} </td>                
          
      {% endfor %}
      </tr>
    </tbody>
  </table>
