{% for locker in verhuurd %}
<div class="roomListRoom">
    <div class="roomListRoom__header">
        <div class="roomListRoom__actions">
        </div>
    </div>
    <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'update-locker' locker.id %}">{{locker.topic}} => {{locker.email|slice:"0:12"}}... {% if locker.participants.count > 0 %} ({{locker.participants.count}} gebruikers) {% endif %}{% if locker.obsolete %} (opheffen) {% endif %}
             </a>
    </div>

</div>
{% endfor %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

