
<table class="viking-table">
    <thead>
      <hr>
      <tr>
        <th>Huurder:</th>
        <th>Locker</th>
        <th>Type</th>
        <th></th>
        <th>user_id</th>
        <th></th>
        <th>regis</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for locker in object_list %}
      <tr>

      <td>
        <a href="{% url 'edit-factuur'  locker.id %}?q={{locker.id}}">{{locker.email|truncatechars:12}} </span></a>        
        <td>
          <a href="{% url 'update-usermail'  locker.kluisnummer %}?q={{locker.id}}">{{locker.kluisnummer}} </span></a>
        </td>
        </a>
      </td>
            <td></td>
                      <td>
                        <a href="{% url 'update-usermail'  locker.type %}?q={{locker.id}}">{{locker.type}} </span></a>
                      </td>
                      <td></td>
                      <td>
                        {% if locker.in_excel == '-----' %}
                            ------
                            {% else %}
                            <a href="{% url 'update-user2'  locker.in_excel %}?q={{locker.in_excel}}">{{locker.in_excel}} </span></a>
                            {% endif %}
                        </td> 
                        <td></td>
                      <td>{{locker.is_registered}}</td>
          
      {% endfor %}
      </tr>
    </tbody>
  </table>
