{% extends 'main.html' %}
{% block content %}
    {% csrf_token %}
    {%load static%}
{%comment%}
    <!-- Trigger/Open The Modal -->

 <!-- The Modal -->
 <div id="myModal" class="modal">
 
   <!-- Modal content -->
   <div class="modal-content">
     <span class="close">&times;</span>
     <p>Some text in the Modal..</p>
     <form action="" method="post"></form>
     {% csrf_token %}
     {{form.as_p}}
     
   </div>
 
 </div> 
{%endcomment%}
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form__group">
            {{form.as_p}}

            {%comment%}
            <a href="{% url 'home' %}" class="header__logo">
                <img src="{% static 'images/dames1.JPG' %}" />
                <img src="{% static 'images/dames2.JPG' %}" />
                <img src="{% static 'images/dames3.JPG' %}" />
            </a>
            <input class="btn btn--main btn--pill" type="submit" value="Confirm Format and Export data " />
            {%endcomment%}
            
            <div class="form__action">
                <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                <button class="btn btn--main" type="submit">Confirm Format and Export data</button>
              </div>
    
        </div>
<!--  -->

<!--  -->
{%comment%}
        <div class="form__group">
            {% if request.user.is_superuser %}
            <input class="btn btn--main btn--pill" type="submit" value="Confirm Selected In / Out " />
            {%endif%}
        </div>
{%endcomment%}
          
   <table class="viking-table">
       <thead>
           <caption>  {{entrants_in.count}} LOCKERS IN {{lockers_in.count}}; LOCKERS OUT {{lockers_out.count}} </caption>
           <tr>
               <th>#</th>
               {% for k in header %}
               
               <th>{{k}}</th>
               {% endfor %}
            </tr>
        </thead>
        <tbody>
            
            {% for rij in lockers_in %}
            <td></td>
            <td> {{rij.id}}</td>
            <td> <a href="{% url 'update-locker' rij.id  %}">  {{rij.topic}} </td> 
                <td> <a href="{% url 'update-locker' rij.id %}">   {{rij.email|slice:"0:12"}}...   </td> 
                    <td> {{ rij.verhuurd }} </td>
                    <td> {{ rij.tekst|slice:"0:20"}}... </td>
                    <td> {{ rij.updated|date:"SHORT_DATE_FORMAT" }} </td>
                    <td> <a href="{% url 'update-locker' rij.id %}">   </td>
                        {%comment%} 
                        {%if rij.verhuurd%}  <td><input type="checkbox" id="isout" checked="true" name="isout" value={{rij.id}}></td> {%endif%} 
                        <td> {{ rij.tekst|truncatewords:3 }} </td>
                        <td> {{ rij.tekst|wordwrap:20 }} </td>
                        <td> {{ rij.tekst|wordwrap:20 }} </td>
                                       {%endcomment%}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if lockers_out.count > 0 %}
                            <table class="viking-table">
                                <thead>
                                    <caption>  {{lockers_out.count}} LOCKERS OUT {{table}} </caption>
                                    <tr>
                                        <th>#</th>
                                        {% for k in header %}
                                        
                                        <th>{{k}}</th>
                                        {% endfor %}
                                        <th>Medegebruikers</th>
                                        <th>#</th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     
                                     {% for rij in lockers_out %}
                                     <td></td>
                                     <td> {{rij.id}}</td>
                                     <td> <a href="{% url 'update-locker' rij.id  %}">  {{rij.topic}} </td> 
                                         <td> <a href="{% url 'update-locker' rij.id %}">   {{rij.email|slice:"0:12"}}...   </td> 
                                             <td> {{ rij.verhuurd }} </td>
                                             <td> {{ rij.tekst|slice:"0:20"}}... </td>
                                             <td> {{ rij.updated|date:"SHORT_DATE_FORMAT" }} </td>
                                             <td> <a href="{% url 'update-locker' rij.id %}">   </td>
                                                 {%comment%} {%if rij.verhuurd%}  <td><input type="checkbox" id="isout" checked="true" name="isout" value={{rij.id}}></td> {%endif%} 
                                                 <td> {{ rij.tekst|truncatewords:3 }} </td>
                                                 <td> {{ rij.tekst|wordwrap:20 }} </td>
                                                 <td> {{ rij.tekst|wordwrap:20 }} </td>
                                                                {%endcomment%}
                                                                 </tr>
                                                             {% endfor %}
                                                                                  </tbody>
                                                     </table>
                                                    </form>
                                                    {%endif%}                         
                            <a class="btn btn--main btn--pill" href="{% url 'lockers' %}">Home</a>
                        

    {% endblock %}