{% extends 'main.html' %}
{% block content %}
    {% csrf_token %}
    {%load static%}
    <form class="form" method="POST" action="">
        {% csrf_token %}
        <div class="form__group">
            {{form.as_p}}

            
            <div class="form__action">
                <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                <button class="btn btn--main" type="submit">Confirm Format and Export data</button>
              </div>
    
        </div>
<!--  -->

<!--  -->
          
   <table class="viking-table">
       <thead>
           <caption>  {{persons.count}} PERSONS  </caption>
           <tr>
               <th>#</th>
               {% for k in header %}
               
               <th>{{k}}</th>
               {% endfor %}
            </tr>
        </thead>
        <tbody>
            
            {% for rij in persons_in %}
            <td></td>
            <td> {{rij.id}}</td>
            <td> {{ rij.name }} </td>
                <td> <a href="{% url 'update-person' rij.id %}">    </td> 
                  <td> {{ rij.onderhuur }} </td>
                  <td> {{ rij.wachtlijst}} </td>
                  <td> {{ rij.hoofdhuurder }} </td>
                  <td> {{ rij.locker }} </td>
                    <td>{{rij.email|slice:"0:12"}}...             </td>
                      <td>{{rij.tekst|slice:"0:12"}}...</td>

                    <td> {{ rij.updated|date:"SHORT_DATE_FORMAT" }} </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                                                    </form>
                            <a class="btn btn--main btn--pill" href="{% url 'home' %}">Home</a>
                        

    {% endblock %}