
<table class="viking-table">
  <thead>
    <hr>
    <tr>
      <th>Lockers:</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Onderhuur</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {% for user in object_list %}
      <tr>

      <td>{{user.id }}</td>
      <td>
        <a href="{% url 'update-person' user.id %}?q={{user.id}}">{{user.email}} </span></a>
        <div style="height:100%;width:100%">
          </div>
        </a>
      </td>
            <td>
                {{user.username}}
                 </td>
                 <td>
                    <td>
                      {{user.locker}}
                        {% if user.locker == None %}
                          ------
                          {% else %}
                        {% endif %}
                      </td>  </td>
                      <td>
                        {% if user.hoofdhuurder == True %}
                          hoofdhuurder
                        {% endif %}
                      </td>  </td>
                      <td>
                        {% if user.wachtlijst == True %}
                          wachtlijst
                        {% endif %}
                      </td>  </td>
                      <td>
                        {% if user.onderhuur == True %}
                          onderhuurder
                        {% endif %}
                      </td>  </td>


          
      {% endfor %}
      </tr>
    </tbody>
  </table>
  {% comment %}
<ul>
{% for user in object_list %}
<li>{{ user.name }} - {{ user.email }}</li>

    <a href="{% url 'update-user2' user.id %}?q={{user.id}}">{{ user.username }} | {{user.locker}} </span></a> <br>

    {% empty %}
    <li>No users yet.</li>
{% endfor %}
</ul>
{% endcomment %}
