{% extends 'main.html' %}
{% load static %}
{% block content %}
<main class="profile-page layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="profile">
        {% comment %}

        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{% static 'shoes.jpg' %}" />
            
          </div>
        </div>

        {% endcomment %}
        <div class="profile__info">
          <h3>{{user.name}}</h3>
          <p>@|{{user.username}}</p>
            {% if request.user == user or request.user.is_superuser %}

          <a href="{% url 'update-profile' user.id%}" class="btn btn--main btn--pill">Edit Profile</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>About</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
      </div>
{% comment %}
<img src="/media/{{ data.image1 }}">
      <div class="roomList__header">
        <div>
          <h2>Locker Rooms</a>
          </h2>
        </div>
      </div>
      {% if request.user.is_superuser %}
      {% endif %}
      {% include 'base/feed_component.html' %}
      {% include 'base/activity_component.html' %}
      {% include 'base/feed_berichten.html' %}
      {% endcomment %}

    </div>
    <!-- Room List End -->

    <!-- Activities Start -->

    <!-- Activities End -->
  </div>
</main>
{% endblock content %}