{% extends 'main.html' %}

{% block content %}
<main class="container">
  
    <!-- Room Start -->
    <div class="room">
      <div class="room__top">
        <div class="room__topLeft">
          <a href="{% url 'home' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Time Sheet</h3>
        </div>
        <div class="room__topRight">
          <a href="{% url 't2' room.id %}">
            <svg enable-background="new 0 0 24 24" height="32" viewBox="0 0 24 24" width="32"
              xmlns="http://www.w3.org/2000/svg">
              <title>edit</title>
              <g>
                <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
              </g>
              <g>
                <g>
                  <path
                    d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z" />
                </g>
                <g>
                  <path
                    d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z" />
                </g>
              </g>
            </svg>
          </a>
          <a href="{% url 'delete-t2' room.id %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>remove</title>
              <path
                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
              </path>
            </svg>
          </a>
        </div>

      </div>
      <div class="room__box scroll">
        <div class="room__header scroll">
          <div class="room__info">
            <h3>{{room.name}} {{ room.created|date:"SHORT_DATE_FORMAT" }}  {{room.created|date:"D"}}</h3>
            <span>{{room.created|timesince}} ago</span>
          </div>
          
          <span class="room__topics">STATUS:{{room.status}}</span>
          <a class="btn btn--pill" href="{% url 't4' room.id %}">Start</a>
          <a class="btn btn--pill" href="{% url 'update-vervolg' room.id %}">Vervolg</a>
          <a class="btn btn--pill" href="{% url 'room-clear' room.id %}">Clear</a>
          <a class="btn btn--pill" href="{% url 'stop' %}">Stop</a>
          <a class="btn btn--pill" href="{% url 't3' %}">Lijst</a>
          <table class="viking-table">
            <thead>
                <caption>  {{tijdregels.count}} Tijdregels  </caption>
                <tr>
                    <th>#</th>
                    {% for k in header2 %}
                    
                    <th>{{k}}</th>
                    {% endfor %}
                 </tr>
             </thead>
             <tbody>
                 
                 {% for rij in tijdregels %}
                 <td></td>
                 <td> {{rij.id}}</td>
                 <td> {{rij.status}}</td>        
                       <td> {{rij.updated|date:'H:i'}} </td>
                       <td>{{rij.created|date:'H:i'}} </td>
                       <td>{{rij.begin|date:'H:i'}}  </td>
                       <td>{{rij.einde|date:'H:i'}} </td>
                     
                                             </tr>
                                         {% endfor %}
                                     </tbody>
                                 </table>          
        </div>
      </div>
    </div>
    <!-- Room End -->
    <!--   Start -->
    {% comment %}

    <div class="participants">
      <h3 class="participants__top">Tijdregels <span>({{tijdregels.count}} started)</span></h3>
      <div class="participants__list scroll">
        <table class="viking-table">
            <thead>
                <caption>  {{tijdregels.count}} Tijdregels  </caption>
                <tr>
                    <th>#</th>
                    {% for k in header2 %}
                    
                    <th>{{k}}</th>
                    {% endfor %}
                 </tr>
             </thead>
             <tbody>
                 
                 {% for rij in tijdregels %}
                 <td></td>
                 <td> {{rij.id}}</td>
                 <td>
                     <a href="{% url 't2'  rij.id %}">{{rij.status}} </span></a>        
                   </td>        
                       <td> {{rij.begin|date:'H:i'}} </td>
                       <td>{{rij.created|date:'H:i'}} </td>
                       <td> {{ rij.updated|date:"SHORT_DATE_FORMAT" }} </td>
                       <td> {{rij.status}} C: {{rij.created|date:'H:i'}} B: {{rij.begin|date:'H:i'}} E:{{rij.einde|date:'H:i'}} </td>
                       <td> B: {{rij.begin|date:'H:i'}}</td>
                       <td> E:{{rij.einde|date:'H:i'}} </td>

                                             </tr>
                                         {% endfor %}
                                     </tbody>
                                 </table>

          <div class="avatar avatar--medium">
          </div>
        </a>
      </div>
    </div>
    {% endcomment %}

    <!--  End -->
</main>
<script src="script.js"></script>
{% endblock content %}