{% extends 'main.html' %} 
{% comment %} 31 okt 2022 {% endcomment %}
{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>Terug</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          {% if request.user.is_authenticated %}
          <h3>Locker:  {{kluis.id}} {{kluis.kluisnummer}} </h3>
          
          {% comment %}
          {% endcomment %}
          {% endif %}
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST">
          {% csrf_token %} 
          <div class="form__group">
            <ul>

            <label for="huurder">
                  </label
              
                name="huurder"> 
              </ul>
              </div>
  
          <div class="form__group">
            <label for="huurder">
              {% for org in kluis.owners.all %}
              {% comment %}
              {{org.name|capfirst}}
              {% endcomment %}
              e-mail: {{org.email}}<hr>
             {% endfor %}
                  </label
              
                name="huurder"> 
          </div>
          <div class="form__group">
            <label for="slottype">Type slot:</label>
            <select id="slot" name="slot" value="H" >
            <option value="" selected>TYPE SLOT</option>
            <option value="H" type="H">hangslot</option>
            <option value="C" type="C">cijferslot</option>
            <option value="L" type="L">leeg</option>
            <option value={{kluis.type}} selected>{{kluis.type}} </option>
          </select>
          </div>
          {% if kluis.owners.count > 0 %}
          <div class="form__group">
              <select id="huuropheffen" name="huuropheffen" onChange="redirectUrl()">
                <option  value="" selected="selected">--- GEBRUIKER VERWIJDEREN---</option>
                {% for org in kluis.owners.all %}
                 <option value="{{org.id}}">{{org.email|capfirst}}</option>
                {% endfor %}
              </select>
  
          </div>
          {% endif %}
          {% comment %}
          {% endcomment %}

          <div class="form__group">
              <select id="onderhuurder" name="onderhuurder" onChange="redirectUrl()">
                <option  value="" selected="selected">--- GEBRUIKER TOEVOEGEN:---</option>
                {% for org in vikingers %}
                <option value="{{org.id}}">{{org.email|capfirst}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form__group">
              <label for="fname">Uitgegeven Sleutels:</label>
              <input type="text" id="sleutels" name="sleutels" value={{kluis.sleutels}}><br><br>  
              <label for="fname">Code:</label>
              <input type="text" id="code" name="code" value={{kluis.code}}><br><br>  
            </div>
            <div class="form__action">
            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}"
              >Cancel</a>
            <button class="btn btn--main" type="submit">Submit</button>

                    </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}