{%extends 'main.html'%}
{% comment %}
{%block content%}

<div class="center">
 <form method="post" novalidate class="card">
 	{%csrf_token %}
 	<h2>{% if person %} Update {%else %} Create {%endif%} Task</h2>
	{% for field in form %}
		{% if field.name == 'completed' %}
			<p>
				{{ field.label_tag }}
				{{ field }}
			</p>
			{% if field.errors %}
        		<small class="error">{{ field.errors|striptags  }}</small> 
        	{% endif %}
		{% else %}
    		{{ field.label_tag }} 
        	{{ field }}
        	{% if field.errors %}
        		<small class="error">{{ field.errors|striptags  }}</small> 
        	{% endif %}
        {% endif %}
	{% endfor %}
	<div class="form-buttons">
		<input type="submit" value="Save" class="btn btn-primary"/>
		<a href="{%url 'profiles'%}" class="btn btn-outline">Cancel</a>
	</div>
	

</form>
</div>

{%endblock content%}
{% endcomment %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Sign Up/ Register</h3>
        </div>
      </div>
      <div class="layout__body">
        <form method="post" novalidate class="card">
          {%csrf_token %}
          <h2>{% if person %} Update {% else %} Or create {% endif %} Waiting List Entry22</h2>
         {% for field in form %}
           {% if field.name == 'completed' %}
           <label for="profile_pic">{{field.label}}</label>
           <div class="form__group">
             {{field}}
           </div>
     
             {% if field.errors %}
                   <small class="error">{{ field.errors|striptags  }}</small> 
                 {% endif %}
           {% else %}
           <label for="profile_pic">{{field.label}}</label>
           <div class="form__group">
             {{field}}
           </div>
                  {% if field.errors %}
                   <small class="error">{{ field.errors|striptags  }}</small> 
                 {% endif %}
               {% endif %}
         {% endfor %}
         
         <div class="form-buttons">
           <input type="submit" value="Save" class="btn btn-primary"/>
           <a href="{%url 'home'%}" class="btn btn-outline">Cancel</a>
           {% if person %}
                     <a href="{% url 'delete-person' person.id %}" class="btn btn--link">Delete</a>
                     {% else %}
                     {{request.user}}
                     Login
                    </button>
                  </form>
          
                  <div class="auth__action">
                    <p>Haven't signed up yet?</p>
                    <hr>
                    <a href="{% url 'registreer' %}" class="btn btn--link">Sign Up (Registreer)</a><hr>
                    <a href="{% url 'create-person' %}" class="btn btn--link">Zet je op de Wachtlijst</a>
                  </div>
                </div>
              </div>
            </div>
                             
{% endif %}
         </div>
         
       
       </form>
             </div>
    </div>
  </div>
</main>
{% endblock content %}
{% comment %}

{% endcomment %}